@media only screen and (min-width: 1350px) {


    figure {
        text-align: center;
    }

    .promoPicture {
        position: absolute;
        left: 40%;
        border: 3px solid #562F96;
        background-color: black;
        width: 827px;
        height: 506px;
        border-radius: 21px;
    }

    .promoPicture img {
        padding-left: 200px;
        padding-right: 200px;
        width: auto;
        height: auto;
        max-width: 820px;
        max-height: 500px;
    }

    h1 {
        width: 600px;
        margin-top: 150px;
        font-family: sans-serif;
        position: relative;
        left: 21%;
        font-size: 75px;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    #otherNews{
        left: auto;
        right: auto;
        margin: 0 auto;
    }

    #getYours {
        top: -40px;
        left: 20%;
        padding: 10px 10px 10px 10px;
        position: relative;
        width: 400px;
        font-family: sans-serif;
        font-size: 36px;
        color: #6C6C6C;
    }

    #getYours>a {
        border: solid 1px #562F96;
        text-decoration: none;
        border-radius: 12px;
        color: #6C6C6C;
        padding: 10px 40px 10px 10px;
    }

    #getYours a:hover {
        color: white;
        background-color: #562F96;
    }

    #ticket {
        height: 32px;
        position: relative;
        top: 4px;
    }

    #newsSlide {
        position: absolute;
        height: 580px;
        right: 0%;
    }

    #indexMerch a {
        color: #6C6C6C;
        font-family: sans-serif;
        font-size: 24px;
        text-decoration: none;
    }

    #indexMerch {
        padding: 20px 20px;
        width: 100%;
    }

    #indexMerch li {
        width: 33%;
        vertical-align: top;
        display: inline-block;
    }

    #indexMerch img {
        height: 300px;
    }

    #indexMerch p {
        width: 300px;
    }

    .slideshow-container {
        max-width: 45%;
        position: relative;
        margin: auto;
    }

    .slides {
        display: none;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .slideText {
        color: #f2f2f2;
        font-size: 36px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        box-sizing: border-box;
        width: 100%;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

}


@media only screen and (max-width: 1350px) {

    figure {
        margin-top: 40px;
        text-align: center;
    }

    .promoPicture {
        border: 3px solid #562F96;
        background-color: black;
        border-radius: 21px;
    }

    .promoPicture img {
        width: 98%;
        height: auto;
    }

    h1 {
        text-align: center;
        font-family: sans-serif;
        font-size: 60px;
        margin: 0 auto;
        position: relative;
        top: -200px;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    #storeNews{
        color:lightgray;
        top:0;
    }

    #getYours {
        position: relative;
        top: -180px;
        left:80px;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
        width: 400px;
        font-family: sans-serif;
        font-size: 24px;
        color: #6C6C6C;
    }

    #getYours>a {
        border: solid 1px #562F96;
        border-radius: 12px;
        text-decoration: none;
        color: white;
        padding: 10px 40px 10px 10px;
        background-color: #562F96;
    }

    #getYours>a:hover{
       background-color: white;
       color:#562F96;
    }

    #ticket {
        height: 21px;
        position: relative;
        top: 2px;
    }


    .slideshow-container {
        max-width: 50%;
        position: relative;
        margin: auto;
    }

    .slideText {
        color: #f2f2f2;
        font-size: 24px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        box-sizing: border-box;
        width: 100%;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
    }



    
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }


    #indexMerch a {
        color: #6C6C6C;
        font-family: sans-serif;
        font-size: 24px;
        text-decoration: none;
    }


    #indexMerch li {
        width: 33%;
        vertical-align: top;
        display: inline-block;
    }

    #indexMerch img {
        height: 220px;
    }

    #indexMerch p {
        width: 300px;
    }

}