@media only screen and (min-width: 1350px) {

    header {
        padding-left: 26px;
        padding-right: 14px;
        border-bottom: 1px solid #562F96;
        background-color: white;
        width: 100%;
    }

    .logo {
        margin-right: 0%;
        padding-top: 12px;
        margin-top: -1px;
        width: 230px;
    }

    .logo img {
        max-width: 230px;
        max-height: 73px;
    }

    .navContainer{
        box-sizing: border-box;
    }

    .navBar {
        left: 30%;
        margin-top: -1px;
        background-color: white;
        position: absolute;
        width: auto;
        top: 40px;
    }

    .navBar li {
        display: inline;
    }

    .navBar a {
        font-size: 40px;
        font-family: sans-serif;
        color: #6C6C6C;
        top: 40px;
        margin-left: 20px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .apps {
        float: right;
        top: 50px;
        right: 1%;
        background-color: white;
        position: absolute;
    }


    .apps img {
        height: 28px;
        width: 28px;
        top: -10px;
        left: -4px;
    }

    .language {
        position: absolute;
        top: 0px;
        right: 20px;
    }

    .language h2 {
        font-size: 24px;
        font-family: sans-serif;
        color: #6C6C6C;
        text-decoration: none;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .language img {
        height: 15px;
        width: 22px;
        left: 0px;
        right: -10px;
        top: 0px;
    }
}

@media only screen and (max-width: 1350px) {

    header {
        margin: 0 auto;
    }

    .navContainer {
        margin: 0 auto;
    }

    .logo {
        margin: 10px auto;
        text-align: center;
        border-bottom: 1px solid #562F96;
        background-color: white;
    }

    .logo img {
        max-width: 230px;
        max-height: 73px;
    }

    .navBar {
        margin-top: 0;
        margin-left: -60px;
        text-align: center;
    }

    .navBar li {
        display: inline;
    }

    .navBar a {
        font-size: 20px;
        font-family: sans-serif;
        color: #6C6C6C;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .apps {
        display: none;
    }

    .language {
        display: none !important;
    }


}