a:any-link {
    text-decoration: none;
}


.grid-container>div {
    margin-left: -40px;
}

.storeNav {
    width: 319px;
    grid-row: 2;
    grid-column: 1 / 2;
    border-right: solid 2px #562F96;
}


#korg-container{
    top:20px;
    position: relative;
    margin-bottom: 40px;
}


#basketCounter {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -71px;
    margin-bottom: 36px;
}

.storeNav a {
    font-size: 20px;
    color: #6C6C6C;
    font-family: sans-serif;
}

.storeNav ul {
    list-style-type: none;
    line-height: 400%;
}

.storeNav li {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color: #6C6C6C;   
    font-size: 20px;
}

.subMenu {
    font-size: 14px !important;
    display: none;
}

.inactive{
    display: none;
}

#searchBar {
    width: 80%;
    text-align: center;
    font-family: sans-serif;
    color: #6C6C6C;   
    font-size: 20px;
    border: none;
    margin-right:-20px;
}

#searchItem{
    margin-top: -20px;
    height: 30px;
    padding-bottom: 20px;
    border-bottom: #562F96 1px solid;
    margin-bottom: 30px;
    
}

.active {

    display:list-item !important;
    text-align: center;
}

#korg {
    width: 47px;
}

#search {
    padding-left: 10px;
    border-bottom: solid 1.4px #562F96;
}

#zoom {
    position: relative;
    right:10px;
    width: 14px;
}

.product-viewer {
    grid-row: 2;
    grid-column: 2;
    padding-top: 38px;
}

.product-viewer>a {
    padding-top: auto;
    padding-bottom: auto;
    width: 100%;
    display: inline-block;
}


.product-viewer td {
    padding-right: 45px;
    vertical-align: top;
    position: relative;
}

.product{
    position: relative;
    width: auto;
    height: 228px;
}

.product-viewer img {
    width: auto;
    height: 228px;
}

.product:hover > img{
    opacity: 0.3;
}

.product button {
    position: absolute;
    bottom:0%;
    width: 85%;
    left:0%;
    background-color: #562F96;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    border-top: 10%;
}

.storeNav button {
    background-color: white;
    color: #6C6C6C;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.product:hover > button{
    opacity: 1;
}

.product-viewer p {
    line-height: 130%;
    font-size: 18px;
    font-family: sans-serif;
    color: #6C6C6C;
}